@import './variables.scss';

@mixin flex-row() {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-row-fs() {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
