<div class="py-3 px-0 ml-4" *ngIf="item && item.id >= 0">
	<div class="flex mb-4 justify-between">
		<h2 class="text-xl font-semibold pl-0 ml-0">{{ item.name }}</h2>

		<div class="flex justify-center items-center ml-0 pl-0">
			<angular-monorepo-button
				*ngIf="item.quantity === 0"
				(click)="addToCart(item)"
				[buttonId]="'add-backorder-' + item.id"
				[buttonText]="'Backorder'"
				[buttonClass]="'tertiary'"
				[buttonType]="'button'"
			></angular-monorepo-button>
			<angular-monorepo-button
				*ngIf="item.quantity > 0"
				(click)="addToCart(item)"
				[buttonId]="'add-to-cart-' + item.id"
				[buttonText]="'Add to Cart'"
				[buttonClass]="'secondary'"
				[buttonType]="'button'"
			></angular-monorepo-button>
			<angular-monorepo-button
				(click)="addToWishlist(item)"
				[buttonId]="'add-to-wishlist-' + item.id"
				[buttonText]="'Wishlist'"
				[buttonClass]="'primary'"
				[buttonType]="'button'"
			></angular-monorepo-button>
		</div>
	</div>
</div>

<div class="flex justify-center items-start">
	<img
		[src]="'assets/images/candle_gray_500x667.png'"
		class="object-cover rounded mr-4"
	/>

	<table class="mt-2 ml-4 inventory-table">
		<tr>
			<td>
				<span class="text-xl p-3 rounded bg-yellow-200 text-black-400">{{
					item.price | currency
				}}</span>
			</td>
		</tr>

		<br />

		<tr class="mt-4 pt-4">
			<th>{{ item.description }}</th>
		</tr>

		<br />

		<tr>
			<td>Dimensions:</td>
			<td>{{ item.dimensions }}</td>
		</tr>

		<tr>
			<td>Weight:</td>
			<td>{{ item.weight }}</td>
		</tr>

		<tr>
			<td>Wick Type:</td>
			<td>{{ item.wickType }}</td>
		</tr>

		<tr>
			<td>Wax Type:</td>
			<td>{{ item.waxType }}</td>
		</tr>

		<tr>
			<td>In Stock:</td>
			<td>{{ item.quantity | number }}</td>
		</tr>
		<tr>
			<td>In Cart:</td>
			<td>
				{{
					item.quantityInCart === 0 ? 'None' : (item.quantityInCart | number)
				}}
			</td>
		</tr>
	</table>

	<!-- Add more details as needed -->
</div>
