@import '../../../styles/mixin';

h1 {
	font-size: 32px;
	text-align: left;
	font-family: 'Anton', sans-serif;
	a {
		text-decoration: none;
		color: #333;
		font-weight: 600;
	}
}

header {
	border-bottom: solid 1px #666666;
	padding-bottom: $padding-common;
}

nav {
	margin-left: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li a {
	margin: 8px;
}

.active {
	color: #ff6766;
}
