<header class="header flex flex-row items-center justify-between pt-4">
	<hgroup class="flex items-center">
		<h1>Genesis Candles</h1>

		<nav class="hidden md:flex ml-4">
			<ul class="flex space-x-4">
				<li *ngFor="let link of links">
					<a
						[routerLink]="link.path"
						routerLinkActive="active"
						class="font-semibold"
						>{{ link.label }}</a
					>
				</li>
			</ul>
		</nav>
	</hgroup>

	<hgroup class="hidden md:flex">
		<angular-monorepo-button
			[buttonDisabled]="false"
			[buttonId]="'btn-login'"
			[buttonText]="'Login / Sign Up'"
			[buttonClass]="'primary'"
			[buttonType]="'button'"
		></angular-monorepo-button>
	</hgroup>
</header>
