<section class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title">
				<h2>{{ title }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<img src="assets/candle1.png" alt="Candle 1" />

					<div class="flex-row-between">
						<h2>Candle Set 1</h2>
						<div class="flex-col-fs">
							<p>Cost: $10</p>
							<p>Weight: 200g</p>
							<p>Dimensions: 5x5x10 cm</p>
						</div>
						<div class="flex-col-fs">
							<p>Wax Type: Paraffin</p>
							<p>Wick: Cotton</p>
							<p>Date: 2023-01-01</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
