<div class="card">
	<div class="card-row">
		<div class="flex items-center justify-between p-4 pl-0 border">
			<div class="flex items-between">
				<!-- Product Image -->

				<h2 class="item-title text-lg text-gray-800">{{ item.name }}</h2>
			</div>

			<!-- Price and Add to Cart Button -->
			<div class="flex items-center">
				<!-- Add to Cart Button -->

				<angular-monorepo-button
					[routerLink]="['/inventory/detail', item.id]"
					[buttonId]="'btn-see-details-' + item.id"
					[buttonText]="'See Details'"
					[buttonClass]="'btn secondary'"
					[buttonType]="'button'"
				></angular-monorepo-button>
			</div>
		</div>
	</div>
	<div class="card-row">
		<div class="card-column">
			<div class="card-image">
				<img src="assets/images/candle_gray_500x667.png" alt="Candle 1" />
				<div class="card-row">
					<div class="card-body-column p-3 mb-2">
						<div class="card-body-item">
							<span class="item-key"
								><span class="text-lg mr-4 mx-0">{{
									item.price | currency
								}}</span></span
							>
							<span class="text-lg"> {{ item.quantity }} In Stock</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
