@import '../../../styles/mixin';

.card {
	font-family: $font-family-body;
	background-color: $lightest;
	border: 1px solid $tertiary;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	transition: transform 0.3s ease-in-out;
	width: 100%;

	img {
		margin: auto;
		height: 300px;
		margin-bottom: $margin-common;
	}

	.card-item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.item-title {
			font-family: $font-family-header;
			font-size: $font-size-header;
		}
	}

	.card-body-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.card-body-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.bold {
	font-weight: bold;
}
