@import '../../../styles/mixin';

header {
	margin-top: 8px;
	padding-bottom: 8px;
	border-bottom: solid 1px #333;
}

h1 {
	font-size: 32px;
	text-align: left;
	font-family: $font-family-header;
	a {
		text-decoration: none;
		color: black;
		font-weight: 700;
	}
}
