@import '../../../styles/mixin';

h1 {
	font-size: 32px;
	text-align: left;
	font-family: 'Anton';
	a {
		text-decoration: none;
		color: black;
		font-weight: 600;
	}
}

header {
	border-bottom: solid 1px #666666;
	padding-bottom: $padding-common;
	margin-bottom: $padding-large;
}

.active {
	color: #ff6766;
}

#btn-login {
	background-color: white !important;
	border: solid 2px #333333;
	color: black;
}
