@import '../../../styles/mixin';

h2,
.footer {
	font-family: 'DM Mono', sans-serif;
}

tr:hover td {
	background-color: #efefef;
}

table th:last-child,
table td:last-child {
	text-align: center;
}

.sort {
	margin-left: 4px;
	cursor: pointer;
}

.btn-primary {
	z-index: 1000;
	border-radius: 3px;
	padding: 8px 4px;
	width: 70px;
	margin-left: 8px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	border: none;
	background-color: #535353;
	color: white;
}

tr td {
	background-color: #ffffff;
	padding: 12px 16px;
	border: solid #333 1px;
}

tr td:last-child {
	text-align: center;
}

.btn-primary:hover {
	color: white;
	background-color: #ff6766;
}

.sort-last {
	color: #ff6766;
}
