<section class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title">
				<h2>- Orders</h2>
			</div>
		</div>
		<angular-monorepo-table-sort
			[displayedColumns]="displayedColumns"
			[columns]="orders"
		>
			<tr *ngFor="let order of orders; let i = index">
				<td>{{ order.id }}</td>
				<td>{{ order.customer_name }}</td>
				<td>{{ order.order_date | date }}</td>
				<td>{{ order.order_status }}</td>
				<td>{{ order.order_total | currency }}</td>
				<td>
					<button class="btn btn-primary" [routerLink]="['/orders', order.id]">
						View
					</button>
				</td>
			</tr>
		</angular-monorepo-table-sort>
	</div>
</section>
