@import '../styles/mixin';

.flex-row {
	@include flex-row();
}

.flex-row-fs {
	@include flex-row-fs();
}

html,
body,
app-root {
	background: linear-gradient(
		90deg,
		hsl(180, 100%, 100%) 350%,
		hsl(60, 84%, 95%) 65%
	);
}

h1 {
	font-size: 32px;
	text-align: center;
	font-family: 'Megrim', cursive;
	a {
		text-decoration: none;
	}
}
