<div class="wrapper">
  <header>
    <div class="flex-row">
      <h1>{{ title }}</h1>
      <button class="btn-primary">Login / Sign Up</button>
    </div>
  </header>
  <br />
  <hr />
  <br />

  <angular-monorepo-order-list></angular-monorepo-order-list>

  <h2>- Testimonials</h2>

  <br />

  <angular-monorepo-blockquote>
    Genesis Candles transformed my space into a mesmerizing sanctuary. The
    intricate designs and captivating scents transport me to a realm of
    tranquility. Worth every penny for these truly one-of-a-kind candles that
    add an artistic touch to my home decor. - Susie Q.
  </angular-monorepo-blockquote>

  <angular-monorepo-blockquote>
    Indulging in Genesis Candles is an unparalleled sensory experience. The
    craftsmanship and attention to detail in each candle make them an exquisite
    addition to any setting. The uniqueness and quality justify every cent spent
    for the luxurious treat that uplifts both ambiance and mood - Kyle G.
  </angular-monorepo-blockquote>

  <angular-monorepo-blockquote>
    Genesis Candles are more than just candles; they're miniature works of art.
    The vibrant colors and innovative shapes make them the centerpiece of any
    room. Investing in these candles is like investing in a piece of unique,
    soulful luxury that fills the air with delightful fragrances, making my
    space feel like a personal haven. - Lauren H.
  </angular-monorepo-blockquote>
</div>

<br />
<hr />
<br />
<footer class="footer">
  <span class="text-muted">
    {{ '∆' }} Angular Monorepo with Standalone Components example by
    <a target="_blank" href="https://www.joshuamichael.me">Joshua Calafell</a>
    2023</span
  >
</footer>

<br />
