<section class="wrapper">
	<header class="header flex-row">
		<div class="flex-row-fs header-left">
			<svg width="50" height="100" xmlns="http://www.w3.org/2000/svg">
				<!-- Candle body -->
				<rect x="5" y="36" width="20" height="50" fill="#FFD700" />
				<!-- Flame -->
				<circle cx="15" cy="30" r="15" fill="#ff6766" />
			</svg>
			<h1>{{ title }}</h1>
			<nav class="nav flex-row-fs">
				<a routerLink="about" routerLinkActive="active">About</a>
				<a routerLink="inventory" routerLinkActive="active">Inventory</a>
				<a routerLink="orders" routerLinkActive="active">Orders</a>
			</nav>
		</div>

		<div class="header-right">
			<button class="btn btn-primary">
				<span>Login / Sign Up</span>
			</button>
		</div>
	</header>

	<br />
	<hr />
	<br />

	<router-outlet></router-outlet>

	<footer class="footer">
		<span class="text-muted">
			{{ '∆' }}ngular Monorepo with Standalone Components example by
			<a target="_blank" href="https://www.joshuamichael.me">Joshua Calafell</a>
			2023</span
		>
	</footer>

	<br />
</section>
