@import '../styles/mixin';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;300;400;500;600;700;800&display=swap');
.flex-row {
	@include flex-row();
}

.flex-row-fs {
	@include flex-row-fs();
}

html,
body,
app-root {
	background: linear-gradient(
		90deg,
		hsl(180, 100%, 100%) 350%,
		hsl(60, 84%, 95%) 65%
	);
}

h1 {
	font-size: 32px;
	text-align: center;
	font-family: 'Rubik', cursive;
	a {
		text-decoration: none;
		color: black;
		font-weight: 700;
	}
}
