<section class="section-wrapper">
	<div class="angular-monorepo-container">
		<div class="flex flex-row flex-row justify-between">
			<h2>Cart</h2>
			<div class="flex flex-row flex-row justify-between pt-4">
				<angular-monorepo-button
					(click)="clearCartHandler()"
					[buttonDisabled]="false"
					[buttonId]="'btn-clear-cart'"
					[buttonText]="'Clear Cart'"
					[buttonClass]="'primary'"
					[buttonType]="'button'"
				></angular-monorepo-button>

				<angular-monorepo-button
					[buttonDisabled]="false"
					[buttonId]="'btn-checkout'"
					[buttonText]="'Checkout'"
					[buttonClass]="'secondary'"
					[buttonType]="'button'"
				></angular-monorepo-button>
			</div>
		</div>

		<br />

		<angular-monorepo-cart
			[cartItems]="cartItems"
			[total]="total"
			(removeItemEmitter)="removeItemHandler($event)"
		></angular-monorepo-cart>
	</div>
</section>
