@import '../../styles/mixin';

button {
	background-color: $primary;
	color: $lightest;
	padding: $padding-small $padding-common;
	border-radius: 20px;
	font-weight: bold;
	width: 150px;
	height: 40px;
}
