@import '../../../styles/mixin';

h2 {
	font-size: 64px;
	text-align: center;
	margin: 128px 16px 32px 16px;
	padding-top: $padding-x-large;
	font-family: $font-family-header;
}

button {
	@include flex-row();
}

.flex-column {
	@include flex-column();
}
