<section class="section-wrapper">
	<h2>About</h2>
	<p>
		Candle Company, nestled in the heart of the Pacific Northwest, is renowned
		for its vibrant, artistic candles that capture the unique spirit of the
		region. Our candles are not just sources of light, but pieces of art, each
		one meticulously handcrafted to reflect the stunning landscapes, diverse
		cultures, and the vibrant pop colors that the Pacific Northwest is known
		for.
	</p>

	<br />

	<p>
		Our custom candles are a sensory journey, with each color and scent
		carefully chosen to evoke the lush forests, majestic mountains, and serene
		coastlines of the Pacific Northwest. From the deep greens of our evergreen
		forests, the vibrant blues of our expansive skies, to the rich earth tones
		of our rugged coastlines, each candle is a tribute to the natural beauty of
		our region.
	</p>

	<br />

	<p>
		At Candle Company, we believe in the power of art to inspire and uplift. Our
		candles are more than just decor, they are a statement, a conversation
		starter. Whether you're looking for a unique gift, a centerpiece for your
		home, or just a way to bring a little bit of the Pacific Northwest into your
		space, Candle Company offers a unique, vibrant, and truly Pacific Northwest
		experience.
	</p>

	<br />
	<br />

	<div class="img" style="text-align: center">
		<img src="assets/png/candle4.png" alt="Candle 4 Picture" />
	</div>

	<br />
	<br />
</section>
