@import '../../../styles/mixin';

p {
	display: block;
	font-family: $font-family-body, monospace;
}

img {
	object-fit: scale-down;
	border-radius: 8px;
	margin-bottom: 12px;
	margin: auto;
	max-height: 500px;
}
