@import '../../../styles/mixin';

p {
	display: block;
	font-size: 20px;
	font-family: $font-family-body, monospace;
}

img {
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 12px;
	margin: auto;
}
