@import '../../../styles/mixin';

p {
	display: block;
	margin: 1em 0;
	padding: 0 1em;
	font-size: $font-size-body;
}

p {
	font-family: $font-family-body, monospace;
	font-size: 20px;
	line-height: 1.5;
	margin-left: 0px;
	padding-left: 0;
}

angular-monorepo-inventory-item ::ng-deep .card {
	width: 50%;
}

img {
	border-radius: 8px;
	margin-bottom: 12px;
	margin-right: 16px;
}
