@import '../../../styles/mixin';

footer {
	width: 100%;
	font-family: $font-family-body;
	height: 48px;
	position: fixed;
	bottom: 0px;
	background: #f6f6f6;
	text-align: center;
	font-size: $font-size-body;
	padding: 12px 0px 8px 0px;
	p {
		margin: 0px;
	}
	a {
		color: #ff6766;
	}
}
