@import '../../../styles/mixin';

footer {
	position: relative;
	bottom: 16px;
	font-family: $font-family-quote;
	margin: 64px 0px 0px 0px;
	text-align: center;
	font-size: $font-size-body;
	a {
		color: #ff6766;
	}
}
