@import '../../../styles/mixin';

.grid-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 2fr);
	gap: 20px;

	@media screen and (max-width: 1230px) {
		font-size: 1rem;
		grid-template-columns: repeat(2, 2fr);
	}

	@media screen and (max-width: 1024px) {
		font-size: 1rem;
		grid-template-columns: repeat(2, 2fr);
	}

	@media screen and (max-width: 768px) {
		font-size: 1rem;
		width: 100%;
		grid-template-columns: repeat(1, 2fr);
	}
}
