@import '../../../styles/mixin';

h2,
.footer {
	font-family: 'DM Mono', sans-serif;
}

h2 {
	margin-left: 16px;
	font-size: $font-size-header;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-col-fs {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	gap: 20px;
}

h2 {
	margin-bottom: 16px;
}

p {
	margin-left: 16px;
	margin-top: 8px;
}

img {
	object-fit: scale-down;
	border-radius: 0px;
	margin-bottom: 8px;
}
