<div class="card">
	<div class="card-row">
		<div class="flex items-center justify-between p-4 pl-0 border">
			<div class="flex items-between">
				<!-- Product Image -->

				<h2 class="text-lg">{{ item.name }}</h2>
			</div>

			<!-- Price and Add to Cart Button -->
			<div class="flex items-center">
				<!-- Add to Cart Button -->
				<button
					[routerLink]="['/inventory/detail', item.id]"
					class="btn-add-to-cart bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
				>
					{{ 'See Details' }}
				</button>
			</div>
		</div>
	</div>
	<div class="card-row">
		<div class="card-column p-4">
			<div class="card-image">
				<img src="https://via.placeholder.com/500x350" alt="Candle 1" />
				<div class="card-row">
					<div class="card-body-column">
						<div class="card-body-item">
							<span class="item-key"
								><span class="text-lg font-semibold mr-4">{{
									item.price | currency
								}}</span></span
							>
							<span class="item-value"> In Stock!</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
