<table class="table table-striped">
	<thead>
		<tr>
			<th
				*ngFor="let column of displayedColumns"
				class="sort"
				(click)="
					column.sortFn();
					column.sortDirections.reverse();
					lastSortedBy = column.column_key;
					sorted = true
				"
			>
				{{ column.title }}
				<span
					*ngIf="column.sortable"
					[ngClass]="
						lastSortedBy === column.column_key && sorted ? 'sort-last' : ''
					"
					>@if (column.sortDirections[0] === 'asc') {
					{{ '↓' }}
					} @else {
					{{ '↑' }}
					}</span
				>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders; let i = index">
			<td>{{ order.id }}</td>
			<td>{{ order.customer_name }}</td>
			<td>{{ order.order_date | date }}</td>
			<td>{{ order.order_status }}</td>
			<td>{{ order.order_total | currency }}</td>
			<td>
				<!-- <a [routerLink]="['/order', order.id]" class="btn btn-primary">View</a> -->
				<button class="btn btn-primary" [routerLink]="['/orders', order.id]">
					View
				</button>
			</td>
		</tr>
	</tbody>
</table>
