@import '../../../styles/mixin';

table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	overflow: hidden;
	font-family: $font-family-body;
	font-size: $font-size-body;
	margin-top: $margin-large;
	margin-bottom: $margin-common;
}

table th {
	color: $med-dark;
	font-weight: bold;
	padding: $padding-common;
	border: 1px solid $med-dark;
}

table tr:hover td {
	background-color: $quaternary;
}

table td {
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #333;
	font-weight: 400;
}

table th:last-child,
table td:last-child {
	text-align: center;
}

.sort {
	margin-left: 4px;
	cursor: pointer;
}

.btn-primary {
	z-index: 1000;
	border-radius: 3px;
	padding: 8px 4px;
	width: 70px;
	margin-left: 8px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	border: none;
	background-color: #535353;
	color: white;
}

.btn-primary:hover {
	color: white;
	background-color: #ff6766;
}

.sort-last {
	color: #ff6766;
}
