@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import './styles/mixin';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@100;300;400;500;600;700;800&display=swap');

*,
body {
	margin: 0;
	padding: 0px;
}

svg {
	margin-left: 16px;
}

p {
	margin: 8px 16px;
}

hr {
	border-bottom: solid 1px #e0e0e0;
}

h1 {
	margin: 0 16px;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	font-weight: 600;

	.title-link {
		&:active,
		&:hover,
		&:visited {
			text-decoration: none;
		}
	}
}

h2 {
	margin: 0 16px;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	font-weight: 600;
	.title-link {
		&:active,
		&:hover,
		&:visited {
			text-decoration: none;
		}
	}
}

.wrapper {
	padding: 16px 32px;
	margin: 0px;
	height: 100vh;
}

.text-muted {
	color: #555;
}

.btn-primary {
	background: #333333;
	color: white;
	padding: $padding-small $padding-common;
	border-radius: 8px !important;
	width: 160px;
	font-weight: bold;
}
