<section class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title">
				<h2>{{ title }}</h2>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="flex-row-between">
						<div class="flex-col-fs">
							<p><strong>Cost: $10</strong></p>
							<p>Weight: <strong>200g</strong></p>
							<p>Dimensions: <strong>5x5x10 cm</strong></p>
						</div>
						<div class="flex-col-fs">
							<p>Wax Type: <strong>Paraffin, Soy</strong></p>
							<p>Wick: <strong>Cotton</strong></p>
							<p>
								Date Added:
								<strong
									>{{ '2023-01-01' | date : 'longDate' }}
									{{ '2023-01-01' | date : 'shortTime' }}</strong
								>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
