<section class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-title">
				<h2>{{ '- Order Detail' }}</h2>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<img src="assets/candle1.png" alt="Candle 1" />
					<div class="flex-row-between">
						<div class="flex-col-fs">
							<p><strong>Order ID:</strong> {{ order.id }}</p>
							<p><strong>Order Status:</strong> {{ order.order_status }}</p>
							<p>
								<strong>Last Updated:</strong>
								{{ order.order_date | date : 'mediumDate' }}
								{{ order.order_date | date : 'shortTime' }}
							</p>
							<p><strong>Customer Name:</strong> {{ order.customer_name }}</p>
						</div>
						<div class="flex-col-fs">
							<p><strong>SKU:</strong> {{ order.sku }}</p>
							<p>
								<strong>Order Total:</strong>
								{{ order.order_total | currency }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
